
.gameOver {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.gameOverContent {
  color: white;
  text-align: center;
}

.gameOverContent > h1 {
  margin: 0;
  font-size: 72px;
}

.gameOverContent > p {
  margin: 0;
  margin-bottom: 32px;
  font-size: 48px;
}