
.gameBorder {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.buttonMenu {
  display: flex;
  flex-direction: row;
}

.buttonMenu > button:not(:first-of-type) {
  margin-left: 16px;
}

.gameBoard {
  height: 80%;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 16px;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
}

.leaderBoard {
  height: 10%;
  margin-top: auto;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  grid-template-areas:
    "left right"
}

#playerOne {
  grid-area: left;
  text-align: left;
}

#playerTwo {
  grid-area: right;
  text-align: right;
}

.gameMenu {
  height: 10%;
}
