

.scene {
  width: 100%;
  height: 100%;
  perspective: 600px;
  justify-self: center;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card__face {
  border-radius: 8px;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .25);
}

.card__face--front {
  background-image: linear-gradient(45deg, rgb(255, 174, 0), rgb(255, 60, 0));
  cursor: pointer;
}

.card__face--back {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateY( 180deg );
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card.fly-left {
  z-index: 5;
  transform: translate3d(-750px, 1000px, 50px);
}

.card.fly-right {
  z-index: 5;
  transform: translate3d(750px, 1000px, 50px);
}

/* This is not a scalable solution for dynamic images, but I could not get the src images working for the card images. */

.card-1 {
  background-image: url('../../images/card-1-min.jpg');
}

.card-2 {
  background-image: url('../../images/card-2-min.jpg');
  
}
.card-3 {
  background-image: url('../../images/card-3-min.jpg');
  
}

.card-4 {
  background-image: url('../../images/card-4-min.jpg');
  
}

.card-5 {
  background-image: url('../../images/card-5-min.jpg');
  
}

.card-6 {
  background-image: url('../../images/card-6-min.jpg');
  
}

.card-7  {
  background-image: url('../../images/card-7-min.jpg');
}


.card-8 {
  background-image: url('../../images/card-8-min.jpg');
  
}

.card-9 {
  background-image: url('../../images/card-9-min.jpg');
  
}

.card-10 {
  background-image: url('../../images/card-10-min.jpg');
  
}